{"openapi":"3.0.1","info":{"title":"hotdeals API","description":"hotdeals REST API Documentation","version":"1.0.0"},"servers":[{"url":"https://api.promoabastos.com","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"categories"},{"name":"deals"},{"name":"notifications"},{"name":"roles"},{"name":"stores"},{"name":"users"}],"paths":{"/comment-reports":{"get":{"tags":["comment-report-entity-controller"],"description":"get-commentreport","operationId":"getCollectionResource-commentreport-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCommentReport"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCommentReport"}},"text/uri-list":{"schema":{"type":"string"}}}}}},"post":{"tags":["comment-report-entity-controller"],"description":"create-commentreport","operationId":"postCollectionResource-commentreport-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentReportRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCommentReport"}}}}}}},"/comment-reports/search/findAll":{"get":{"tags":["comment-report-search-controller"],"operationId":"executeSearch-commentreport-get","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCommentReport"}}}},"404":{"description":"Not Found"}}}},"/comment-reports/{id}":{"get":{"tags":["comment-report-entity-controller"],"description":"get-commentreport","operationId":"getItemResource-commentreport-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCommentReport"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["comment-report-entity-controller"],"description":"update-commentreport","operationId":"putItemResource-commentreport-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentReportRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCommentReport"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCommentReport"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["comment-report-entity-controller"],"description":"delete-commentreport","operationId":"deleteItemResource-commentreport-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["comment-report-entity-controller"],"description":"patch-commentreport","operationId":"patchItemResource-commentreport-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentReportRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCommentReport"}}}},"204":{"description":"No Content"}}}},"/deal-reports":{"get":{"tags":["deal-report-entity-controller"],"description":"get-dealreport","operationId":"getCollectionResource-dealreport-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelDealReport"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelDealReport"}},"text/uri-list":{"schema":{"type":"string"}}}}}},"post":{"tags":["deal-report-entity-controller"],"description":"create-dealreport","operationId":"postCollectionResource-dealreport-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealReportRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelDealReport"}}}}}}},"/deal-reports/search/findAll":{"get":{"tags":["deal-report-search-controller"],"operationId":"executeSearch-dealreport-get","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelDealReport"}}}},"404":{"description":"Not Found"}}}},"/deal-reports/{id}":{"get":{"tags":["deal-report-entity-controller"],"description":"get-dealreport","operationId":"getItemResource-dealreport-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelDealReport"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["deal-report-entity-controller"],"description":"update-dealreport","operationId":"putItemResource-dealreport-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealReportRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelDealReport"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelDealReport"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["deal-report-entity-controller"],"description":"delete-dealreport","operationId":"deleteItemResource-dealreport-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["deal-report-entity-controller"],"description":"patch-dealreport","operationId":"patchItemResource-dealreport-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealReportRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelDealReport"}}}},"204":{"description":"No Content"}}}},"/profile":{"get":{"tags":["profile-controller"],"operationId":"listAllFormsOfMetadata_1","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/RepresentationModelObject"}}}}}}},"/profile/comment-reports":{"get":{"tags":["profile-controller"],"operationId":"descriptor_1_1_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}},"application/alps+json":{"schema":{"type":"string"}},"application/schema+json":{"schema":{"$ref":"#/components/schemas/JsonSchema"}}}}}}},"/profile/deal-reports":{"get":{"tags":["profile-controller"],"operationId":"descriptor_1_1_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}},"application/alps+json":{"schema":{"type":"string"}},"application/schema+json":{"schema":{"$ref":"#/components/schemas/JsonSchema"}}}}}}},"/profile/user-reports":{"get":{"tags":["profile-controller"],"operationId":"descriptor_1_1_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}},"application/alps+json":{"schema":{"type":"string"}},"application/schema+json":{"schema":{"$ref":"#/components/schemas/JsonSchema"}}}}}}},"/user-reports":{"get":{"tags":["user-report-entity-controller"],"description":"get-userreport","operationId":"getCollectionResource-userreport-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelUserReport"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelUserReport"}},"text/uri-list":{"schema":{"type":"string"}}}}}},"post":{"tags":["user-report-entity-controller"],"description":"create-userreport","operationId":"postCollectionResource-userreport-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserReportRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelUserReport"}}}}}}},"/user-reports/search/findAll":{"get":{"tags":["user-report-search-controller"],"operationId":"executeSearch-userreport-get","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelUserReport"}}}},"404":{"description":"Not Found"}}}},"/user-reports/{id}":{"get":{"tags":["user-report-entity-controller"],"description":"get-userreport","operationId":"getItemResource-userreport-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelUserReport"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["user-report-entity-controller"],"description":"update-userreport","operationId":"putItemResource-userreport-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserReportRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelUserReport"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelUserReport"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["user-report-entity-controller"],"description":"delete-userreport","operationId":"deleteItemResource-userreport-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["user-report-entity-controller"],"description":"patch-userreport","operationId":"patchItemResource-userreport-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserReportRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelUserReport"}}}},"204":{"description":"No Content"}}}},"/users/me/fcm-tokens":{"put":{"tags":["users"],"summary":"Adds a FCM token to the authenticated user","operationId":"addFCMToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FCMTokenParams"}}},"required":true},"responses":{"401":{"description":"Unauthorized"},"200":{"description":"Successful operation"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["users"],"summary":"Deletes a FCM token from the authenticated user","operationId":"deleteFCMToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FCMTokenParams"}}},"required":true},"responses":{"401":{"description":"Unauthorized"},"204":{"description":"Successful operation"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/users/me/favorites/{dealId}":{"put":{"tags":["users"],"summary":"Favorites a deal","operationId":"favoriteDeal","parameters":[{"name":"dealId","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"400":{"description":"Invalid deal ID"},"401":{"description":"Unauthorized"},"304":{"description":"You've already favorited this deal before"},"200":{"description":"Successful operation"},"404":{"description":"Deal not found"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["users"],"summary":"Unfavorites a deal","operationId":"unfavoriteDeal","parameters":[{"name":"dealId","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"400":{"description":"Invalid deal ID"},"401":{"description":"Unauthorized"},"204":{"description":"Successful operation"},"304":{"description":"You've already unfavorited this deal before"},"404":{"description":"Deal not found"}},"security":[{"bearerAuth":[]}]}},"/users/me/blocks/{id}":{"put":{"tags":["users"],"summary":"Blocks a user","operationId":"blockUser","parameters":[{"name":"id","in":"path","description":"String representation of the User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"404":{"description":"User not found"},"401":{"description":"Unauthorized"},"304":{"description":"You've already blocked this user before"},"400":{"description":"Invalid user ID"},"200":{"description":"Successful operation"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["users"],"summary":"Unblocks a user","operationId":"unblockUser","parameters":[{"name":"id","in":"path","description":"String representation of the User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"404":{"description":"User not found"},"401":{"description":"Unauthorized"},"204":{"description":"Successful operation"},"400":{"description":"Invalid user ID"},"304":{"description":"You've already unblocked this user before"}},"security":[{"bearerAuth":[]}]}},"/stores/{id}":{"get":{"tags":["stores"],"summary":"Finds store by ID","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"getStore","parameters":[{"name":"id","in":"path","description":"String representation of the Store ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreGetDTO"}}}},"404":{"description":"Store not found"},"400":{"description":"Invalid store ID"}},"security":[{"bearerAuth":[]}]},"put":{"tags":["stores"],"summary":"Updates an existing store","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"updateStore","parameters":[{"name":"id","in":"path","description":"String representation of the Store ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorePostDTO"}}},"required":true},"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"The store successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreGetDTO"}}}},"404":{"description":"Store not found"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["stores"],"summary":"Deletes an existing store","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"deleteStore","parameters":[{"name":"id","in":"path","description":"String representation of the Store ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"404":{"description":"Store not found"},"204":{"description":"The store successfully deleted"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/roles":{"put":{"tags":["roles"],"summary":"Adds a role to a user in the Firebase","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"addRole","parameters":[{"name":"uid","in":"query","description":"String representation of the Firebase User ID","required":true,"schema":{"type":"string"},"example":"ndj2KkbGwIUbfIUH2BT6700AQ832"},{"name":"role","in":"query","description":"User role","required":true,"schema":{"type":"string","enum":["ROLE_ADMIN","ROLE_SUPER","ROLE_MODERATOR"]}}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"The role successfully added"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["roles"],"summary":"Deletes a role from a user in the Firebase","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"deleteRole","parameters":[{"name":"uid","in":"query","description":"String representation of the Firebase User ID","required":true,"schema":{"type":"string"},"example":"ndj2KkbGwIUbfIUH2BT6700AQ832"},{"name":"role","in":"query","description":"User role","required":true,"schema":{"type":"string","enum":["ROLE_ADMIN","ROLE_SUPER","ROLE_MODERATOR"]}}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"204":{"description":"The role successfully deleted"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/deals/{id}":{"get":{"tags":["deals"],"summary":"Finds a deal by ID","operationId":"getDeal","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"400":{"description":"Invalid deal ID"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealGetDTO"}}}},"404":{"description":"Deal not found"}}},"put":{"tags":["deals"],"summary":"Updates a deal","operationId":"updateDeal","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealPostDTO"}}},"required":true},"responses":{"400":{"description":"Invalid deal ID"},"200":{"description":"The deal successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealGetDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"You can only update your own deal"},"404":{"description":"Deal not found"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["deals"],"summary":"Deletes a deal","operationId":"deleteDeal","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"400":{"description":"Invalid deal ID"},"401":{"description":"Unauthorized"},"403":{"description":"You can only remove your own deal"},"204":{"description":"The deal successfully deleted"},"404":{"description":"Deal not found"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["deals"],"summary":"Updates a deal's status","operationId":"patchDeal","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealPatchDTO"}}},"required":true},"responses":{"400":{"description":"Invalid deal ID"},"200":{"description":"The deal successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealGetDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"You can only update your own deal"},"404":{"description":"Deal not found"}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/votes":{"put":{"tags":["deals"],"summary":"Casts vote to a deal","operationId":"voteDeal","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealVote"}}},"required":true},"responses":{"400":{"description":"Invalid deal ID"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealGetDTO"}}}},"404":{"description":"Deal not found"},"304":{"description":"You've already upvoted/downvoted this deal before"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["deals"],"summary":"Deletes the vote from a deal","operationId":"deleteVote","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"400":{"description":"Invalid deal ID"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealGetDTO"}}}},"404":{"description":"Deal not found"}},"security":[{"bearerAuth":[]}]}},"/categories/{id}":{"get":{"tags":["categories"],"summary":"Finds category by ID","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"getCategory","parameters":[{"name":"id","in":"path","description":"String representation of the Category ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"403":{"description":"Forbidden"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryGetDTO"}}}},"401":{"description":"Unauthorized"},"400":{"description":"Invalid category ID"},"404":{"description":"Category not found"}},"security":[{"bearerAuth":[]}]},"put":{"tags":["categories"],"summary":"Updates an existing category","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"updateCategory","parameters":[{"name":"id","in":"path","description":"String representation of the Category ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryPostDTO"}}},"required":true},"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"The category successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryGetDTO"}}}},"404":{"description":"Category not found"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["categories"],"summary":"Deletes an existing category","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"deleteCategory","parameters":[{"name":"id","in":"path","description":"String representation of the Category ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"204":{"description":"The category successfully deleted"},"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"404":{"description":"Category not found"},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/buildings/{id}":{"get":{"tags":["buildings"],"summary":"Finds a building by ID","operationId":"getBuilding","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Building"}}}}}},"put":{"tags":["buildings"],"summary":"Updates an existing building","operationId":"updateBuilding","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Building"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Building"}}}}}},"delete":{"tags":["buildings"],"summary":"Deletes a building","operationId":"deleteBuilding","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/users":{"get":{"tags":["users"],"summary":"Returns all users","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"getUsers","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["users"],"summary":"Creates a user","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPostDTO"}}},"required":true},"responses":{"201":{"description":"The user created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBasicDTO"}}}},"400":{"description":"Bad Request"}}}},"/users/{id}/reports":{"post":{"tags":["users"],"summary":"Reports a user","operationId":"createUserReport","parameters":[{"name":"id","in":"path","description":"String representation of the User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserReportPostDTO"}}},"required":true},"responses":{"404":{"description":"User not found"},"401":{"description":"Unauthorized"},"201":{"description":"Successful operation"},"400":{"description":"Invalid user ID"}},"security":[{"bearerAuth":[]}]}},"/stores":{"get":{"tags":["stores"],"summary":"Returns all stores","operationId":"getStores","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreGetDTO"}}}}}}},"post":{"tags":["stores"],"summary":"Creates a store","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"createStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorePostDTO"}}},"required":true},"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"201":{"description":"The store created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreGetDTO"}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/notifications":{"post":{"tags":["notifications"],"summary":"Sends a push notification using FCM","description":"<b>*</b>(<b>title</b> or <b>titleLocKey</b>) and (<b>body</b> or <b>bodyLocKey</b>) parameters are required","operationId":"sendNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Notification"}}},"required":true},"responses":{"401":{"description":"Unauthorized"},"400":{"description":"Bad Request"},"201":{"description":"Push notification sent","content":{"application/hal+json":{"schema":{"type":"integer","default":"1"}}}}},"security":[{"bearerAuth":[]}]}},"/notifications/send-to-role":{"post":{"tags":["notifications"],"summary":"Sends a push notification to all users with a specific role","operationId":"sendNotificationToRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleNotificationRequest"}}},"required":true},"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"201":{"description":"Push notification sent","content":{"application/hal+json":{"schema":{"type":"integer","default":"5"}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/deals":{"get":{"tags":["deals"],"summary":"Returns all deals","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"getDeals_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Deal"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["deals"],"summary":"Creates a deal","operationId":"createDeal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealPostDTO"}}},"required":true},"responses":{"401":{"description":"Unauthorized"},"201":{"description":"The deal created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealGetDTO"}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/reports":{"post":{"tags":["deals"],"summary":"Reports a deal","operationId":"createDealReport","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealReportPostDTO"}}},"required":true},"responses":{"400":{"description":"Invalid deal ID"},"401":{"description":"Unauthorized"},"201":{"description":"Successful operation"},"404":{"description":"Deal not found"}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/comments":{"get":{"tags":["deals"],"summary":"Returns the comments posted to a deal","operationId":"getComments","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Invalid deal ID"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentsDTO"}}}}}},"post":{"tags":["deals"],"summary":"Adds a comment to a deal","operationId":"postComment","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPostDTO"}}},"required":true},"responses":{"400":{"description":"Invalid deal ID"},"401":{"description":"Unauthorized"},"404":{"description":"Deal not found"},"201":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentGetDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/comments/{commentId}/reports":{"post":{"tags":["deals"],"summary":"Reports a deal comment","operationId":"createCommentReport","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"},{"name":"commentId","in":"path","description":"String representation of the Comment ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb2"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentReportPostDTO"}}},"required":true},"responses":{"401":{"description":"Unauthorized"},"400":{"description":"Invalid deal or comment ID"},"404":{"description":"Deal or comment not found"},"201":{"description":"Successful operation"}},"security":[{"bearerAuth":[]}]}},"/deals/sync-elasticsearch":{"post":{"tags":["deals"],"summary":"Syncs Elasticsearch with MongoDB","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"syncElasticsearch","responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successfully synced"}},"security":[{"bearerAuth":[]}]}},"/categories":{"get":{"tags":["categories"],"summary":"Returns all categories","operationId":"getCategories","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryGetDTO"}}}}}}},"post":{"tags":["categories"],"summary":"Creates a category","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryPostDTO"}}},"required":true},"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"201":{"description":"The category created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryGetDTO"}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/buildings":{"post":{"tags":["buildings"],"summary":"Registers a new building or updates an existing one","operationId":"createBuilding","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Building"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Building"}}}}}}},"/users/me":{"get":{"tags":["users"],"summary":"Returns the authenticated user","operationId":"getAuthenticatedUser","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"description":"Unauthorized"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["users"],"summary":"Updates the authenticated user","operationId":"patchUser","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/JsonPatch"}}},"required":true},"responses":{"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserExtendedDTO"}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/users/{id}":{"get":{"tags":["users"],"summary":"Finds user by ID","operationId":"getUser","parameters":[{"name":"id","in":"path","description":"String representation of the User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"404":{"description":"User not found"},"400":{"description":"Invalid user ID"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBasicDTO"}}}}}}},"/users/{id}/extended":{"get":{"tags":["users"],"summary":"Finds user by ID (Displays additional information about the user)","operationId":"getUserExtended","parameters":[{"name":"id","in":"path","description":"String representation of the User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"404":{"description":"User not found"},"400":{"description":"Invalid user ID"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserExtendedDTO"}}}}}}},"/users/{id}/comment-count":{"get":{"tags":["users"],"summary":"Returns the number of comments posted by a user","operationId":"getUsersCommentCount","parameters":[{"name":"id","in":"path","description":"String representation of the User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"200":{"description":"Successful operation","content":{"application/hal+json":{"schema":{"type":"integer","default":"5"}}}},"400":{"description":"Invalid user ID"}}}},"/users/search/findByUid":{"get":{"tags":["users"],"summary":"Finds user by uid","operationId":"getUserByUid","parameters":[{"name":"uid","in":"query","description":"String representation of the Firebase User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"404":{"description":"User not found"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserExtendedDTO"}}}},"400":{"description":"Invalid uid"}},"security":[{"bearerAuth":[]}]}},"/users/search/findByEmail":{"get":{"tags":["users"],"summary":"Finds user by email","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"getUserByEmail","parameters":[{"name":"email","in":"query","description":"User's email address","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden"},"404":{"description":"User not found"},"401":{"description":"Unauthorized"},"400":{"description":"Invalid email format"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserExtendedDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/users/me/favorites":{"get":{"tags":["users"],"summary":"Returns the deals favorited by the authenticated user","operationId":"getFavorites","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/users/me/deals":{"get":{"tags":["users"],"summary":"Returns the deals posted by the authenticated user","operationId":"getDeals","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/users/me/blocks":{"get":{"tags":["users"],"summary":"Returns the users blocked by the authenticated user","operationId":"getBlockedUsers","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserExtendedDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/roles/{uid}":{"get":{"tags":["roles"],"summary":"Check all the roles for single user firebase","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"getUserRoles","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserWithRoles"}}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/roles/viewAll":{"get":{"tags":["roles"],"summary":"Check all the roles for all users in firebase","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"viewAllRoles","responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserWithRoles"}}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/roles/users-by-role/{role}":{"get":{"tags":["roles"],"summary":"Get all users with a specific role","operationId":"getUsersByRole","parameters":[{"name":"role","in":"path","description":"User role to filter by","required":true,"schema":{"type":"string","enum":["ROLE_ADMIN","ROLE_SUPER","ROLE_MODERATOR"]},"example":"ROLE_MODERATOR"}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserWithRoles"}}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/roles/me":{"get":{"tags":["roles"],"summary":"Returns the authenticated user's roles","operationId":"getAuthenticatedUserRoles","responses":{"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserWithRoles"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/comment-count":{"get":{"tags":["deals"],"summary":"Returns the number of comments that a deal has","operationId":"getCommentCount","parameters":[{"name":"id","in":"path","description":"String representation of the Deal ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"400":{"description":"Invalid deal ID"},"200":{"description":"Successful operation","content":{"application/hal+json":{"schema":{"type":"integer","default":"5"}}}}}}},"/deals/suggestions":{"get":{"tags":["deals"],"summary":"Returns search suggestions for a query","operationId":"getSuggestions","parameters":[{"name":"query","in":"query","description":"Search query","required":true,"schema":{"maxLength":100,"minLength":3,"type":"string"},"example":"iph"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchSuggestion"}}}}},"400":{"description":"Bad Request"}}}},"/deals/status/{status}":{"get":{"tags":["deals"],"summary":"Returns deals by status","operationId":"getDealsByStatus","parameters":[{"name":"status","in":"path","description":"Deal status","required":true,"schema":{"type":"string","enum":["ACTIVE","EXPIRED","PENDING","REJECTED"]},"example":"PENDING"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}},"400":{"description":"Bad Request"}}}},"/deals/searches":{"get":{"tags":["deals"],"summary":"Returns search results for given query and filters","operationId":"searchDeals","parameters":[{"name":"query","in":"query","description":"Search query","required":true,"schema":{"type":"string"},"example":"iphone"},{"name":"categories","in":"query","description":"Category paths","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"/computers, /electronics"},{"name":"types","in":"query","description":"Deal types","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"MAYOREO, MENUDEO, MAYOREO_MENUDEO"},{"name":"locations","in":"query","description":"Deal locations","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"I-3, H-2"},{"name":"prices","in":"query","description":"Price ranges formatted as <b>&lt;from&gt;:&lt;to&gt;</b><br /><b>&lt;to&gt;</b> value may also receive an <b>asterisk(*)</b> symbol meaning there is <b>no upper limit</b> in the given price range.","required":false,"schema":{"type":"array","items":{"type":"string"}},"examples":{"20:50":{"description":"Lists deals between $20 and $50"},"1500:*":{"description":"Lists deals with a price of at least $1500"}}},{"name":"stores","in":"query","description":"Store IDs","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"5fbe790ec6f0b32014074bb2, 5fbe790ec6f0b32014074bb3"},{"name":"hideExpired","in":"query","description":"Whether to hide expired deals","required":false,"schema":{"type":"boolean","default":false}},{"name":"sortBy","in":"query","description":"Sort results by","required":false,"schema":{"type":"string"},"examples":{"createdAt":{"description":"Sorts results by deal post date"},"price":{"description":"Sorts results by deal price"}}},{"name":"order","in":"query","description":"Order results by","required":false,"schema":{"type":"string","default":"asc"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonNode"}}}},"400":{"description":"Bad Request"}},"security":[{"bearerAuth":[]}]}},"/deals/search/mostLikedActive":{"get":{"tags":["deals"],"summary":"Returns deals sorted by deal score","operationId":"getMostLikedActiveDeals","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}}}}},"/deals/search/latestActive":{"get":{"tags":["deals"],"summary":"Returns deals sorted by post date","operationId":"getLatestActiveDeals","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}}}}},"/deals/search/byStoreId":{"get":{"tags":["deals"],"summary":"Finds deals by store ID","operationId":"getDealsByStoreId","parameters":[{"name":"storeId","in":"query","description":"String representation of the Store ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}},"400":{"description":"Invalid store ID"}}}},"/deals/search/byCategory":{"get":{"tags":["deals"],"summary":"Finds deals by category","operationId":"getDealsByCategory","parameters":[{"name":"category","in":"query","description":"The category path","required":true,"schema":{"type":"string"},"example":"/computers"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}},"400":{"description":"Bad Request"}}}},"/deals/pending":{"get":{"tags":["deals"],"summary":"Returns all pending deals","description":"<b>Access Privileges</b>: Available for users with <em><b>ROLE_SUPER</b></em> authority.<br /><br />","operationId":"getPendingDeals","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"403":{"description":"Forbidden"},"401":{"description":"Unauthorized"},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealGetDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/deals/count/byStoreId":{"get":{"tags":["deals"],"summary":"Returns the number of deals a store has","operationId":"getCountDealsByStoreId","parameters":[{"name":"storeId","in":"query","description":"String representation of the Store ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"200":{"description":"Successful operation","content":{"application/hal+json":{"schema":{"type":"integer","default":"5"}}}},"400":{"description":"Invalid store ID"}}}},"/deals/count/byPostedBy":{"get":{"tags":["deals"],"summary":"Returns the number of deals posted by a user","operationId":"getCountDealsByPostedBy","parameters":[{"name":"postedBy","in":"query","description":"String representation of the User ID","required":true,"schema":{"type":"string"},"example":"5fbe790ec6f0b32014074bb1"}],"responses":{"200":{"description":"Successful operation","content":{"application/hal+json":{"schema":{"type":"integer","default":"5"}}}},"400":{"description":"Invalid user ID"}}}},"/categories/tags":{"get":{"tags":["categories"],"summary":"Returns all tags","operationId":"getTags","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryGetDTO"}}}}}}}},"/buildings/map-data":{"get":{"tags":["buildings"],"summary":"Returns buildings and their associated deal IDs, optionally filtered by mapId and floorLevel","operationId":"getBuildingsMapData","parameters":[{"name":"mapId","in":"query","required":false,"schema":{"type":"string"}},{"name":"floorLevel","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildingMapDTO"}}}}}}}},"/api/v1/legal":{"get":{"tags":["legal-controller"],"operationId":"getPrivacyPolicy","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/legal/privacy-policy":{"get":{"tags":["legal-controller"],"operationId":"getLegalHtml","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"type":"string"}}}}}}},"/api/v1/legal/eula":{"get":{"tags":["legal-controller"],"operationId":"getEulaHtml","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"AbstractJsonSchemaPropertyObject":{"type":"object","properties":{"title":{"type":"string"},"readOnly":{"type":"boolean"}}},"Item":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AbstractJsonSchemaPropertyObject"}},"requiredProperties":{"type":"array","items":{"type":"string"}}}},"JsonSchema":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AbstractJsonSchemaPropertyObject"}},"requiredProperties":{"type":"array","items":{"type":"string"}},"definitions":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Item"}},"type":{"type":"string"},"$schema":{"type":"string"}}},"Links":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}},"RepresentationModelObject":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/Links"}}},"Deal":{"required":["category","coverPhoto","description","title"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string","description":"Deal ID","example":"5fbe790ec6f0b32014074bb2"},"postedBy":{"$ref":"#/components/schemas/ObjectId"},"store":{"$ref":"#/components/schemas/ObjectId"},"dealScore":{"type":"integer","description":"Deal score","format":"int32","example":3},"upvoters":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/ObjectId"}},"downvoters":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/ObjectId"}},"category":{"type":"string","description":"Category path","example":"/computers/monitors"},"type":{"type":"string","description":"Deal type","example":"MAYOREO"},"tags":{"type":"array","description":"Deal tags","example":["discount","electronics","sale"],"items":{"type":"string","description":"Deal tags","example":"[\"discount\",\"electronics\",\"sale\"]"}},"title":{"maxLength":100,"minLength":10,"type":"string","description":"Deal title","example":"HP 24mh FHD Monitor with 23.8-Inch IPS Display (1080p)"},"description":{"maxLength":3000,"minLength":10,"type":"string","description":"Deal description","example":"OUTSTANDING VISUALS – This FHD display with IPS technology gives you brilliant visuals and unforgettable quality; with a maximum resolution of 1920 x 1080 at 75 Hz, you’ll experience the image accuracy and wide-viewing spectrums of premium tablets and mobile devices "},"originalPrice":{"minimum":1,"type":"number","description":"Deal original price","format":"double","example":249.99},"price":{"minimum":0,"type":"number","description":"Deal price","format":"double","example":226.99},"coverPhoto":{"type":"string","description":"Deal cover photo URL","example":"https://www.gravatar.com/avatar"},"dealUrl":{"type":"string","description":"Deal URL","example":"https://www.amazon.com/HP-24mh-FHD-Monitor-Built/dp/B08BF4CZSV/"},"status":{"type":"string","enum":["ACTIVE","EXPIRED","PENDING","REJECTED"]},"photos":{"type":"array","description":"Deal photo URLs","example":["https://www.gravatar.com/avatar/1","https://www.gravatar.com/avatar/2"],"items":{"type":"string","description":"Deal photo URLs","example":"[\"https://www.gravatar.com/avatar/1\",\"https://www.gravatar.com/avatar/2\"]"}},"views":{"type":"integer","description":"Deal views","format":"int32","example":10},"location":{"type":"string","description":"location, is the hallway ","example":"I-3"},"buildingId":{"maxLength":40,"minLength":0,"type":"string","description":"Building ID","example":"BLD-123"}}},"EntityModelDealReport":{"required":["reasons"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string"},"reportedBy":{"$ref":"#/components/schemas/User"},"message":{"type":"string"},"reportedDeal":{"$ref":"#/components/schemas/Deal"},"reasons":{"type":"array","items":{"type":"string","enum":["EXPIRED","REPOST","SPAM","OTHER"]}},"_links":{"$ref":"#/components/schemas/Links"}}},"ObjectId":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int32"},"date":{"type":"string","format":"date-time"}},"description":"Deal downvoters","example":"5fbe790ec6f0b32014074bb3"},"User":{"required":["avatar","email","nickname","uid"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string","description":"User ID","example":"5fbe790ec6f0b32014074bb1"},"uid":{"type":"string","description":"Firebase User ID","example":"ndj2KkbGwIUbfIUH2BT6700AQ832"},"email":{"type":"string","description":"User email address","example":"halildurmus97@gmail.com"},"nickname":{"maxLength":25,"minLength":5,"type":"string","description":"User nickname","example":"MrNobody123"},"avatar":{"type":"string","description":"User avatar URL","example":"https://www.gravatar.com/avatar"},"blockedUsers":{"uniqueItems":true,"type":"array","description":"Blocked users","example":"5fbe790ec6f0b32014074bb2","items":{"type":"string","description":"Blocked users","example":"5fbe790ec6f0b32014074bb2"}},"favorites":{"uniqueItems":true,"type":"array","description":"Favorited deals","example":"5fbe790ec6f0b32014074bb4","items":{"type":"string","description":"Favorited deals","example":"5fbe790ec6f0b32014074bb4"}},"fcmTokens":{"type":"object","additionalProperties":{"type":"string","description":"FCM tokens","example":"{\"29ba634d38ac6a1a\":\"dOMvrfckR9-5R_A43nuFMo:APA91bEVh2JQ8i-l1406C68mExotHQCGWeRc0cuLZTDH9t5vXXWIPZ-6HDaOtn1PLipsqWbpNWVcpDxkcIWwHNR60_mtaRo5kyuf0cs5Fxa6iGLpoqV93rpWIisa9_acGbOZwfIass0B\"}"},"description":"FCM tokens","example":{"29ba634d38ac6a1a":"dOMvrfckR9-5R_A43nuFMo:APA91bEVh2JQ8i-l1406C68mExotHQCGWeRc0cuLZTDH9t5vXXWIPZ-6HDaOtn1PLipsqWbpNWVcpDxkcIWwHNR60_mtaRo5kyuf0cs5Fxa6iGLpoqV93rpWIisa9_acGbOZwfIass0B"}}}},"PageMetadata":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int64"},"number":{"type":"integer","format":"int64"}}},"PagedModelEntityModelDealReport":{"type":"object","properties":{"_embedded":{"type":"object","properties":{"deal-reports":{"type":"array","items":{"$ref":"#/components/schemas/EntityModelDealReport"}}}},"_links":{"$ref":"#/components/schemas/Links"},"page":{"$ref":"#/components/schemas/PageMetadata"}}},"Comment":{"required":["dealId","message"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string"},"dealId":{"$ref":"#/components/schemas/ObjectId"},"postedBy":{"$ref":"#/components/schemas/User"},"message":{"maxLength":500,"minLength":1,"type":"string"}}},"EntityModelCommentReport":{"required":["reasons"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string"},"reportedBy":{"$ref":"#/components/schemas/User"},"message":{"type":"string"},"reportedComment":{"$ref":"#/components/schemas/Comment"},"reasons":{"type":"array","items":{"type":"string","enum":["HARASSING","SPAM","OTHER"]}},"_links":{"$ref":"#/components/schemas/Links"}}},"PagedModelEntityModelCommentReport":{"type":"object","properties":{"_embedded":{"type":"object","properties":{"comment-reports":{"type":"array","items":{"$ref":"#/components/schemas/EntityModelCommentReport"}}}},"_links":{"$ref":"#/components/schemas/Links"},"page":{"$ref":"#/components/schemas/PageMetadata"}}},"EntityModelUserReport":{"required":["reasons"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string"},"reportedBy":{"$ref":"#/components/schemas/User"},"message":{"type":"string"},"reportedUser":{"$ref":"#/components/schemas/User"},"reasons":{"type":"array","items":{"type":"string","enum":["HARASSING","SPAM","OTHER"]}},"_links":{"$ref":"#/components/schemas/Links"}}},"PagedModelEntityModelUserReport":{"type":"object","properties":{"_embedded":{"type":"object","properties":{"user-reports":{"type":"array","items":{"$ref":"#/components/schemas/EntityModelUserReport"}}}},"_links":{"$ref":"#/components/schemas/Links"},"page":{"$ref":"#/components/schemas/PageMetadata"}}},"CommentReportRequestBody":{"required":["reasons"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string"},"reportedBy":{"$ref":"#/components/schemas/User"},"message":{"type":"string"},"reportedComment":{"$ref":"#/components/schemas/Comment"},"reasons":{"type":"array","items":{"type":"string","enum":["HARASSING","SPAM","OTHER"]}}}},"DealReportRequestBody":{"required":["reasons"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string"},"reportedBy":{"$ref":"#/components/schemas/User"},"message":{"type":"string"},"reportedDeal":{"$ref":"#/components/schemas/Deal"},"reasons":{"type":"array","items":{"type":"string","enum":["EXPIRED","REPOST","SPAM","OTHER"]}}}},"UserReportRequestBody":{"required":["reasons"],"type":"object","properties":{"createdAt":{"type":"string","description":"createdAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"updatedAt":{"type":"string","description":"updatedAt","format":"date-time","readOnly":true,"example":"2021-06-30T16:36:59.713Z"},"id":{"type":"string"},"reportedBy":{"$ref":"#/components/schemas/User"},"message":{"type":"string"},"reportedUser":{"$ref":"#/components/schemas/User"},"reasons":{"type":"array","items":{"type":"string","enum":["HARASSING","SPAM","OTHER"]}}}},"FCMTokenParams":{"required":["deviceId","token"],"type":"object","properties":{"deviceId":{"type":"string","description":"Unique device ID","example":"29ba634d38ac6a1a"},"token":{"type":"string","description":"FCM token","example":"dOMvrfckR9-5R_A43nuFMo:APA91bEVh2JQ8i-l1406C68mExotHQCGWeRc0cuLZTDH9t5vXXWIPZ-6HDaOtn1PLipsqWbpNWVcpDxkcIWwHNR60_mtaRo5kyuf0cs5Fxa6iGLpoqV93rpWIisa9_acGbOZwfIass0B"}}},"StorePostDTO":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Store name","example":"Amazon"},"logo":{"type":"string","description":"Store logo URL","example":"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png"}}},"StoreGetDTO":{"type":"object","properties":{"id":{"type":"string","description":"Store id","example":"5fbe790ec6f0b32014074bb1"},"name":{"type":"string","description":"Store name","example":"Amazon"},"logo":{"type":"string","description":"Store logo URL","example":"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png"}}},"DealPostDTO":{"required":["category","coverPhoto","description","title"],"type":"object","properties":{"store":{"type":"string","description":"Store ID","example":"5fbe790ec6f0b32014074bb3"},"category":{"type":"string","description":"Category path","example":"/computers/monitors"},"type":{"type":"string","description":"Deal type","example":"MAYOREO"},"title":{"maxLength":100,"minLength":10,"type":"string","description":"Deal title","example":"HP 24mh FHD Monitor with 23.8-Inch IPS Display (1080p)"},"description":{"maxLength":3000,"minLength":10,"type":"string","description":"Deal description","example":"OUTSTANDING VISUALS – This FHD display with IPS technology gives you brilliant visuals and unforgettable quality; with a maximum resolution of 1920 x 1080 at 75 Hz, you’ll experience the image accuracy and wide-viewing spectrums of premium tablets and mobile devices "},"originalPrice":{"minimum":1,"type":"number","description":"Deal original price","format":"double","example":249.99},"price":{"minimum":0,"type":"number","description":"Deal price","format":"double","example":226.99},"coverPhoto":{"type":"string","description":"Deal cover photo URL","example":"https://www.gravatar.com/avatar"},"dealUrl":{"type":"string","description":"Deal URL","example":"https://www.amazon.com/HP-24mh-FHD-Monitor-Built/dp/B08BF4CZSV/"},"photos":{"type":"array","description":"Deal photo URLs","example":["https://www.gravatar.com/avatar/1","https://www.gravatar.com/avatar/2"],"items":{"type":"string","description":"Deal photo URLs","example":"[\"https://www.gravatar.com/avatar/1\",\"https://www.gravatar.com/avatar/2\"]"}},"location":{"type":"string","description":"location, is the hallway ","example":"I-3"},"status":{"type":"string","description":"Deal status","example":"ACTIVE","enum":["ACTIVE","EXPIRED","PENDING","REJECTED"]},"buildingId":{"maxLength":40,"minLength":0,"type":"string","description":"Building ID","example":"dfgdfg45"}}},"DealGetDTO":{"type":"object","properties":{"id":{"type":"string","description":"Deal ID","example":"5fbe790ec6f0b32014074bb2"},"postedBy":{"type":"string","description":"Posted user","example":"5fbe790ec6f0b32014074bb1"},"store":{"type":"string","description":"Store ID","example":"5fbe790ec6f0b32014074bb3"},"dealScore":{"type":"integer","description":"Deal score","format":"int32","example":1},"upvoters":{"uniqueItems":true,"type":"array","description":"Deal upvoters","example":"5fbe790ec6f0b32014074bb1, 5fbe790ec6f0b32014074bb2","items":{"$ref":"#/components/schemas/ObjectId"}},"downvoters":{"uniqueItems":true,"type":"array","description":"Deal downvoters","example":"5fbe790ec6f0b32014074bb3","items":{"$ref":"#/components/schemas/ObjectId"}},"category":{"type":"string","description":"Category path","example":"/computers/monitors"},"type":{"type":"string","description":"Deal type","example":"MAYOREO"},"title":{"type":"string","description":"Deal title","example":"HP 24mh FHD Monitor with 23.8-Inch IPS Display (1080p)"},"description":{"type":"string","description":"Deal description","example":"OUTSTANDING VISUALS – This FHD display with IPS technology gives you brilliant visuals and unforgettable quality; with a maximum resolution of 1920 x 1080 at 75 Hz, you’ll experience the image accuracy and wide-viewing spectrums of premium tablets and mobile devices "},"originalPrice":{"type":"number","description":"Deal original price","format":"double","example":249.99},"price":{"type":"number","description":"Deal price","format":"double","example":226.99},"coverPhoto":{"type":"string","description":"Deal cover photo URL","example":"https://www.gravatar.com/avatar"},"dealUrl":{"type":"string","description":"Deal URL","example":"https://www.amazon.com/HP-24mh-FHD-Monitor-Built/dp/B08BF4CZSV/"},"photos":{"type":"array","description":"Deal photo URLs","example":["https://www.gravatar.com/avatar/1","https://www.gravatar.com/avatar/2"],"items":{"type":"string","description":"Deal photo URLs","example":"[\"https://www.gravatar.com/avatar/1\",\"https://www.gravatar.com/avatar/2\"]"}},"views":{"type":"integer","description":"Deal views","format":"int32","example":10},"status":{"type":"string","description":"Deal status","example":"ACTIVE","enum":["ACTIVE","EXPIRED","PENDING","REJECTED"]},"createdAt":{"type":"string","description":"Deal createdAt","format":"date-time","example":"2021-06-30T16:36:59.713Z"},"location":{"type":"string","description":"location, is the hallway ","example":"I-3"},"buildingId":{"type":"string","description":"Building ID","example":"BLD-123"},"adminOrMod":{"type":"boolean"}}},"DealVote":{"required":["voteType"],"type":"object","properties":{"voteType":{"type":"string","enum":["UP","DOWN","UNVOTE"]}}},"CategoryPostDTO":{"required":["category","names","parent"],"type":"object","properties":{"names":{"type":"object","additionalProperties":{"type":"object","description":"Category names","example":{"en":"Computers","tr":"Bilgisayar"}},"description":"Category names","example":{"en":"Computers","tr":"Bilgisayar"}},"parent":{"type":"string","description":"Parent category path","example":"/"},"category":{"type":"string","description":"Category path","example":"/computers"},"iconLigature":{"type":"string","description":"Category icon ligature","example":"computer"},"iconFontFamily":{"type":"string","description":"Category icon font family","example":"MaterialIcons"},"isTag":{"type":"boolean","description":"Indicates if this category is a tag","example":false}}},"CategoryGetDTO":{"type":"object","properties":{"id":{"type":"string","description":"Category ID","example":"5fbe790ec6f0b32014074bb1"},"parent":{"type":"string","description":"Parent category path","example":"/"},"category":{"type":"string","description":"Category path","example":"/computers"},"iconLigature":{"type":"string","description":"Category icon ligature","example":"computer"},"iconFontFamily":{"type":"string","description":"Category icon font family","example":"MaterialIcons"},"isTag":{"type":"boolean","description":"Indicates if this category is a tag","example":false}}},"Building":{"required":["addressString","buildingId"],"type":"object","properties":{"id":{"type":"string"},"buildingId":{"maxLength":40,"minLength":0,"type":"string","description":"Building ID","example":"018f3a2b"},"mapId":{"type":"string","description":"Map ID","example":"frutas-verduras"},"floorLevel":{"type":"integer","description":"Floor level","format":"int32","example":1},"type":{"type":"string","description":"Building type","example":"bodega"},"addressString":{"type":"string","description":"Building address","example":"J400-A"}}},"UserPostDTO":{"required":["avatar","email","uid"],"type":"object","properties":{"uid":{"type":"string","description":"Firebase User ID","example":"ndj2KkbGwIUbfIUH2BT6700AQ832"},"avatar":{"type":"string","description":"User avatar URL","example":"https://www.gravatar.com/avatar"},"email":{"type":"string","description":"User email address","example":"halildurmus97@gmail.com"}}},"UserBasicDTO":{"type":"object","properties":{"id":{"type":"string","description":"User ID","example":"5fbe790ec6f0b32014074bb1"},"uid":{"type":"string","description":"Firebase User ID","example":"ndj2KkbGwIUbfIUH2BT6700AQ832"},"avatar":{"type":"string","description":"User avatar URL","example":"https://www.gravatar.com/avatar"},"nickname":{"type":"string","description":"User nickname","example":"MrNobody123"},"createdAt":{"type":"string","description":"User createdAt","format":"date-time","example":"2021-06-30T16:36:59.713Z"}},"description":"Comment poster"},"UserReportPostDTO":{"required":["reasons"],"type":"object","properties":{"message":{"type":"string","description":"Report message","example":"The user is harassing me"},"reasons":{"type":"array","items":{"type":"string","enum":["HARASSING","SPAM","OTHER"]}}}},"Notification":{"required":["data","tokens"],"type":"object","properties":{"title":{"type":"string","description":"Notification title","example":"A new message"},"titleLocKey":{"type":"string","description":"Notification titleLocKey","example":"text_message_title"},"body":{"type":"string","description":"Notification body","example":"How are you?"},"bodyLocKey":{"type":"string","description":"Notification bodyLocKey","example":"image_message_body"},"image":{"type":"string","description":"Notification image URL","example":"https://www.gravatar.com/avatar"},"titleLocArgs":{"type":"array","description":"Notification titleLocArgs","example":"MrNobody123","items":{"type":"string","description":"Notification titleLocArgs","example":"MrNobody123"}},"bodyLocArgs":{"type":"array","description":"Notification bodyLocArgs","example":"MrNobody123","items":{"type":"string","description":"Notification bodyLocArgs","example":"MrNobody123"}},"data":{"type":"object","additionalProperties":{"type":"string","description":"Notification data","example":"{\"verb\":\"message\",\"object\":\"Ybeuoz0E2oObgUA1Uif8dbXjHX62_ndj2KkbGwIUbfIUH2BT6700AQ832\",\"avatar\":\"https://www.gravatar.com/avatar\",\"message\":\"How are you?\",\"uid\":\"ndj2KkbGwIUbfIUH2BT6700AQ832\"}"},"description":"Notification data","example":{"verb":"message","object":"Ybeuoz0E2oObgUA1Uif8dbXjHX62_ndj2KkbGwIUbfIUH2BT6700AQ832","avatar":"https://www.gravatar.com/avatar","message":"How are you?","uid":"ndj2KkbGwIUbfIUH2BT6700AQ832"}},"tokens":{"type":"array","description":"Notification FCM tokens","example":"dOMvrfckR9-5R_A43nuFMo:APA91bEVh2JQ8i-l1406C68mExotHQCGWeRc0cuLZTDH9t5vXXWIPZ-6HDaOtn1PLipsqWbpNWVcpDxkcIWwHNR60_mtaRo5kyuf0cs5Fxa6iGLpoqV93rpWIisa9_acGbOZwfIass0B","items":{"type":"string","description":"Notification FCM tokens","example":"dOMvrfckR9-5R_A43nuFMo:APA91bEVh2JQ8i-l1406C68mExotHQCGWeRc0cuLZTDH9t5vXXWIPZ-6HDaOtn1PLipsqWbpNWVcpDxkcIWwHNR60_mtaRo5kyuf0cs5Fxa6iGLpoqV93rpWIisa9_acGbOZwfIass0B"}}}},"RoleNotificationRequest":{"required":["role"],"type":"object","properties":{"role":{"type":"string","description":"Role to send notification to","example":"ROLE_MODERATOR","enum":["ROLE_ADMIN","ROLE_SUPER","ROLE_MODERATOR"]},"notification":{"$ref":"#/components/schemas/Notification"}},"description":"Request to send notification to all users with a specific role"},"DealReportPostDTO":{"required":["reasons"],"type":"object","properties":{"message":{"type":"string","description":"Report message","example":"The user is harassing me"},"reasons":{"type":"array","items":{"type":"string","enum":["EXPIRED","REPOST","SPAM","OTHER"]}}}},"CommentPostDTO":{"required":["message"],"type":"object","properties":{"message":{"maxLength":500,"minLength":1,"type":"string","description":"Comment message","example":"Thanks :)"}}},"CommentGetDTO":{"type":"object","properties":{"id":{"type":"string","description":"Comment ID","example":"5fbe790ec6f0b32014074bb1"},"dealId":{"type":"string","description":"Deal ID","example":"5fbe790ec6f0b32014074bb3"},"postedBy":{"$ref":"#/components/schemas/UserBasicDTO"},"message":{"type":"string","description":"Comment message","example":"Thanks :)"},"createdAt":{"type":"string","description":"Comment createdAt","format":"date-time","example":"2021-06-30T16:36:59.713Z"}}},"CommentReportPostDTO":{"required":["reasons"],"type":"object","properties":{"message":{"type":"string","description":"Report message","example":"The user is harassing me"},"reasons":{"type":"array","items":{"type":"string","enum":["HARASSING","SPAM","OTHER"]}}}},"JsonPatch":{"type":"object"},"UserExtendedDTO":{"type":"object","properties":{"id":{"type":"string","description":"User ID","example":"5fbe790ec6f0b32014074bb1"},"uid":{"type":"string","description":"Firebase User ID","example":"ndj2KkbGwIUbfIUH2BT6700AQ832"},"avatar":{"type":"string","description":"User avatar URL","example":"https://www.gravatar.com/avatar"},"nickname":{"type":"string","description":"User nickname","example":"MrNobody123"},"blockedUsers":{"uniqueItems":true,"type":"array","description":"Blocked users","example":"5fbe790ec6f0b32014074bb2","items":{"type":"string","description":"Blocked users","example":"5fbe790ec6f0b32014074bb2"}},"fcmTokens":{"type":"object","additionalProperties":{"type":"string","description":"FCM tokens","example":"{\"29ba634d38ac6a1a\":\"dOMvrfckR9-5R_A43nuFMo:APA91bEVh2JQ8i-l1406C68mExotHQCGWeRc0cuLZTDH9t5vXXWIPZ-6HDaOtn1PLipsqWbpNWVcpDxkcIWwHNR60_mtaRo5kyuf0cs5Fxa6iGLpoqV93rpWIisa9_acGbOZwfIass0B\"}"},"description":"FCM tokens","example":{"29ba634d38ac6a1a":"dOMvrfckR9-5R_A43nuFMo:APA91bEVh2JQ8i-l1406C68mExotHQCGWeRc0cuLZTDH9t5vXXWIPZ-6HDaOtn1PLipsqWbpNWVcpDxkcIWwHNR60_mtaRo5kyuf0cs5Fxa6iGLpoqV93rpWIisa9_acGbOZwfIass0B"}},"createdAt":{"type":"string","description":"User createdAt","format":"date-time","example":"2021-06-30T16:36:59.713Z"}}},"DealPatchDTO":{"required":["status"],"type":"object","properties":{"status":{"type":"string","description":"Deal status","example":"EXPIRED","enum":["ACTIVE","EXPIRED","PENDING","REJECTED"]},"isAdminOrMod":{"type":"boolean"}}},"UserWithRoles":{"type":"object","properties":{"uid":{"type":"string","description":"Unique identifier for the user","example":"abc123xyz456"},"email":{"type":"string","description":"Email address of the user","example":"user@example.com"},"displayName":{"type":"string","description":"Display name of the user","example":"John Doe"},"roles":{"uniqueItems":true,"type":"array","description":"Set of roles assigned to the user","example":"[ROLE_USER, ROLE_ADMIN]","items":{"type":"string","description":"Set of roles assigned to the user","example":"[ROLE_USER, ROLE_ADMIN]","enum":["ROLE_ADMIN","ROLE_SUPER","ROLE_MODERATOR"]}}},"description":"User information with associated roles"},"CommentsDTO":{"type":"object","properties":{"count":{"type":"integer","description":"Comment count","format":"int64","example":5},"comments":{"type":"array","items":{"$ref":"#/components/schemas/CommentGetDTO"}}}},"SearchSuggestion":{"type":"object","properties":{"id":{"type":"string","description":"Deal ID","example":"5fbe790ec6f0b32014074bb2"},"title":{"type":"string","description":"Deal title","example":"iPhone 12 Pro Max 128 GB"}}},"JsonNode":{"type":"object"},"BuildingMapDTO":{"type":"object","properties":{"id":{"type":"string"},"buildingId":{"type":"string"},"mapId":{"type":"string"},"floorLevel":{"type":"integer","format":"int32"},"type":{"type":"string"},"address_string":{"type":"string"},"dealIds":{"type":"array","items":{"type":"string"}}}},"Link":{"type":"object","properties":{"href":{"type":"string"},"hreflang":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"deprecation":{"type":"string"},"profile":{"type":"string"},"name":{"type":"string"},"templated":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","description":"Do not include the <b>Bearer</b> prefix when entering your API key","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}